table.frame
{
    border: 1px solid black;

}

#colorbox , .colorbox
{
    border: 20px solid white;
    width:  300px;
    height: 300px;
}

#colordescription , .colordescription
{
    background-color: white;
    text-align: center;
    font-family: sans-serif;
}

.error
{
    color:red;
}

